* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: green;
  /*margin: 0;*/
}

.container {
  background-color: lightgreen;
}

.navbar {
  background-color: lightgreen;
}

h1 {
  font-size: 5rem;
}

#random {
	display: block;
	border: 2px solid black;
	padding: 3rem;
	font-size: 10rem;
	width: 100%;
	height: cover;
  line-height: 1;
}

#randcolor {
  display: block;
  border: 2px solid black;
  padding: 3rem;
  font-size: 6rem;
  width: 100%;
  height: cover;
  line-height: 1;
}

.small {
	font-size: 25%;
}

.btn {
  padding: 1rem 2rem;
	margin-bottom: 3rem;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  box-shadow: 0 5px #999;
  width: cover;
}

.btn:hover {
	background-color: #3e8e41;
	color: white;
}

.btn:active {
  background-color: #3e8e41;
  color: white;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

#home, #number, #color, #credits {
  padding: 70px 0;
  height: cover;
}

.breadcrumb {
  position: fixed;
}

footer {
  background-color: darkgreen;
  text-align: center;
  padding: 2rem 2rem;
  height: 60px;
  width: 100%;
  color: white;
}